<!DOCTYPE html>
<html>
    <head>
        <title>Ocenjivač</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="style.css" rel="stylesheet" type="text/css">
        <script src="angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    
    <body ng-app="app" ng-controller="MainController">
        
        <div id="tabs">
            <div id="tab1" class="tab" ng-tap="promeniTab(1)" ng-class="{selected: tab == 1}">OCENJIVAČ</div>
            <div id="tab2" class="tab" ng-tap="promeniTab(2)" ng-class="{selected: tab == 2}">RASPORED</div>
        </div>
        
        <div id="ocenjivacWrap" ng-controller="OcenjivacController" ng-show="tab == 1">
            <div id="gore">            
<!--
                <section id="heder">
                    <div class="dugme" id="dugmePonisti" ng-tap="ponistiOcene()">PONIŠTI</div>
                </section>            
                <div class="clear"></div>
-->
                <div id="hederLine"></div>
                <section id="ocene">
                    <div class="ocena x" ng-tap="ponistiOcene($index)">X</div>
                    <div class="ocena" ng-repeat="oc in ocene track by $index" ng-tap="obrisiOcenu($index)">{{oc}}</div>
                </section>
            </div>
            <div id="dole">            
                <section id="ocenaWrap">
                    <div id="ocena">{{izracunajProsek() | number:2}}</div>
                </section>            
                <table id="brojevi">
                    <tbody>
                        <tr>
                            <td ng-tap="dodajOcenu(1)">1</td>
                            <td ng-tap="dodajOcenu(2)">2</td>
                            <td ng-tap="dodajOcenu(3)">3</td>
                            <td ng-tap="dodajOcenu(4)">4</td>
                            <td ng-tap="dodajOcenu(5)" style="border: none">5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="rasporedWrap" ng-controller="RasporedController" ng-show="tab == 2">
            <header>
                <table class="header-table">
                    <tbody>
                        <tr>
                            <td class="shift-switcher" ng-tap="promeniSmenu()"><small>SMENA</small> {{ data.smena }}</td>
        <!--                    <td class="day" ng-tap="promeniDan('pon')" ng-class="{selected: data.dan == 'pon'}">PON</td>-->
                            <td class="day" ng-tap="promeniDan('uto')" ng-class="{selected: data.dan == 'uto'}">UTO</td>
                            <td class="day" ng-tap="promeniDan('sre')" ng-class="{selected: data.dan == 'sre'}">SRE</td>
                            <td class="day" ng-tap="promeniDan('cet')" ng-class="{selected: data.dan == 'cet'}">ČET</td>
        <!--                    <td class="day" ng-tap="promeniDan('pet')" ng-class="{selected: data.dan == 'pet'}">PET</td>-->
                            <td class="length-switcher" ng-tap="promeniTipSmene()"><small>{{data.tipSmene}}</small></td>
                        </tr>
                    </tbody>
                </table>
            </header>
            <section>        
                <table class="schedule-table" ng-show="data[data.dan]">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th>OD</th>
                            <th>DO</th>
                            <th><small>razred</small></th>
                            <th><small>učionica</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data[data.dan] track by $index" ng-class="{myClass: item.razred}">
                            <td>{{$index+1}}.</td>
                            <td>{{getVremeCasa($index+1, true)}}</td>
                            <td>{{getVremeCasa($index+1, false)}}</td>
                            <td>{{item.razred}}</td>
                            <td>{{item.ucionica}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="msg" ng-show="!data[data.dan]">Ti danas ne radiš... :)</div>
            </section>
        </div>
        
    </body>
</html>
