* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}
html {
    font-family: sans-serif;
    font-size: 16px;
    color: #555;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    padding-bottom: 64px;
}

#gore {

}
#hederLine{
    height: 1px;
    background: #27ae60;
}
#heder {
    background-color: #444;
    color: #eee;
    height: 50px;
}
#heder img {
    display: inline-block;
    float: right;
    margin: 4px;
    height: 42px;
}
#heder h1 {
    float: left;
    margin-left: 4px;
    font-weight: 300;
    font-size: 32px;
}

#ocene {
    overflow: auto;
    margin: 4px;
}
.ocena {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    padding: 3px 0;
    width: 50px;
    float: left;
    border: 1px solid #dfdfdf;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: #f7f5f5;
}
.ocena.active{
    background-color:red;
    color:white;
}

.ocena.x{
    float: right;
    width: 50px;
    color: white;
    background-color: #444;
}
.ocena.x.active{
    color: red;
}

#dole {
    width: 100%;
    position: absolute;
    bottom: 64px;
}
#ocenaWrap {
    font-size: 150px;
    text-align: right;
    color: #27ae60;
}

#brojevi {
    width: 100%;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    border-spacing: 0;
}
#brojevi td {
    font-size: 100px;
    border-right: 1px solid #dfdfdf;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#d0d0d0));
}
#brojevi td.active {
    color:white;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#999));
}

.dugme{
    float: right;
    font-size: 36px;
    padding: 5px 10px 0;	
}
.dugme.active {
    color: red;
}

.clear {clear: both;}






#tabs{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.tab{
    width: 50%;
    float: left;
    text-align: center;
}
#tab1.selected{
    color: white;
    background: #27ae60;
}
#tab2.selected{
    color: white;
    background: #8e44ad;
}








small{
    font-size: 70%;
}
header{
    /*position: fixed;*/
    width: 100%;
    top: 0;
    left: 0;
}
.header-table{
    width: 100%;
    border-spacing: 1px;
    background-color:  #8e44ad;
}
.header-table td{
    cursor: pointer;
    background-color: whitesmoke;
    padding: 12px 0;
    text-align: center;
}

.day{
    width: 18%;
}
.day.selected {
    background-color: #8e44ad;
    color: white;
}
.shift-switcher,
.length-switcher {
    background-color: #ccc !important;
}
.length-switcher{
    text-transform: uppercase;
}

.schedule-table{
    width: 100%;
    border-spacing: 0px;
    text-align: center;
}
.schedule-table th {
    width: 18%;
    padding: 10px 0;
    background-color: #8e44ad;
    color: white;
}
.schedule-table td {
    padding: 12px 0;
    border-bottom: 1px solid #dfdfdf;
}

.myClass{
    background-color: rgba(142, 68, 173, 0.08);
}

.msg{
    text-align: center;
    font-size: 26px;
    padding: 30px 0;
}




#prognozaWrap{
    position: absolute;
    bottom: 0px;
    height: 64px;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    background-color: #fafafa;
}
#prognozaWrap img{
    width: 38px;
}
#prognozaWrap .boja{
    color: #8e44ad;
}
#prognozaWrap .fl{
    position: relative;
    float:left;
    margin-left: 5px;
}
#prognozaWrap .fr{
    position: relative;
    float: right;
    margin-right: 5px;
}
#prognozaWrap p{
    font-size: 9px;
    text-align: center;
}
.prognozaItem {
    width: 50px;
    height: 64px;
    text-align: center;
}
.pomeriMaloGore{
    top: -5px;
}
.prognozaItem img{
    width: 38px;
}
.prognozaItem .description {
    position: absolute;
    width: 100%;
    bottom: 0;
}



